/* Homepage */

/* Header */
Body {
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    font-style: medium;
    font-weight: 500;
    color: #222E4A; 
    padding-top: 60px;
    width: 100vw;
    min-height: 100vh;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.fixed-header {
    background-color: #F6EEE5;
    border-bottom-style: solid;
    border-bottom-color: #CDA5AD;
    position: fixed;      
    color: #222E4A; 
    width: 100%;
    height: 126px;
    top: 0px;
    left: 0px;
    z-index: 1;
    text-align: right;
}

.container img {
    position: absolute;
    width: 126px;
    height: 73px;
    top: 50px;
    left: 120px;
    bottom: 5px;
  }



nav a{
    position: relative;
    color: #222E4A;
    text-decoration: none;
    display: inline-block;
    padding: 75px 45px;
    font-size: 24px;

   
}

nav a:hover {
    background-image: url(/images/ltpk_rectangle.png);
    background-size: 225px;
    background-repeat: no-repeat;
    padding: 15px;
    width: fit-content;
    filter: drop-shadow(0px 3.30371px 3.30371px #F2D8CE);

  }

nav a:active {
    background-image: url(/images/dk_pk_rectangle.png);
    background-size: 225px;
    background-repeat: no-repeat;
    padding: 15px;
    filter: drop-shadow(0px 3.30371px 3.30371px #CDA5AD);

  }

/* hero section */
.heroBackground {
    background-image: url(../images/hero_print_repeat.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    left: 0px;
    height: 100vh;
}


.left img{
    display: flex;
    position: absolute;
    width: 732px;
    height: 263px;
    left: 246px;
    top: 282px;
}

/* Download CV */

.leftbutton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    position: absolute;
    width: 203px;
    height: 56px;
    left: 280px;
    top: 545px;

    background: #222E4A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30.53px;
    
    font-family: 'Quicksand';
    font-style: medium;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    color: #F6EEE5;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}

.leftbutton:hover {
    background: #CDA5AD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30.53px;

}

.leftbutton:active {
    background: #F2B872;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30.53px;

}
    

/* image of self*/

.right img{
    position: absolute;
    width: 604.58px;
    height: 621px;
    left: 1002px;
    top: 131px;
    
    filter: drop-shadow(0px 3.30371px 3.30371px rgba(0, 0, 0, 0.25));
    }

/* card styles*/
.projects {
    position: relative;
    display: flex;
    width: 1728px;
    height: 2099px;
    left: -8px;
    margin-top: 695px;
    background-color: #F6EEE5;
    
}

.projects img {
    position: absolute;
    width: 469px;
    height: 102px;
    left: 123.56px;
    top: 36px;
}

.sectionHeading {
    position: absolute;
    width: 276px;
    height: 110px;
    left: 225px;
    top: -70px;

    font-family: 'Cheddar Jack';
    font-style: normal;
    font-weight: 400;
    font-size: 136px;
    line-height: 136px;
    display: flex;
    align-items: center;

    color: #222E4A;

    text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.25);
}


.allprojects {
    box-sizing: border-box;
    position: absolute;
    width: 994px;
    left: 363px;
    top: 200px;
    
    
}

.project1 {
    background: #CDA5AD;
    border: 0.787639px solid #222E4A;
    box-shadow: 7.87639px 7.87639px 6.30111px rgba(0, 0, 0, 0.5);
    margin-top:20px;
    height: 525.36px;

}

.project2 {
    background: #F2D8CE;
    border: 0.787639px solid #222E4A;
    box-shadow: 7.87639px 7.87639px 6.30111px rgba(0, 0, 0, 0.5);
    margin-top:80px;
    height: 525.36px;

}

.project3 {
    background: #D29431;
    border: 0.787639px solid #222E4A;
    box-shadow: 7.87639px 7.87639px 6.30111px rgba(0, 0, 0, 0.5);
    margin-top:80px;
    height: 525.36px;

}



.card-title {
    width: 407.5px;
    height: 75px;
    font-family: 'Caveat Brush', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    margin-bottom: 0px;
    color: #222E4A;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    padding-top: 100px;
    padding-left: 50px;

}

.card-text {
    width: 407.5px;
    height: 135px;
    text-align: left;
    padding-left: 50px;
    margin-bottom: 24px;


    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #222E4A;

}

/* View Project */
.button {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    
    width: 133.41px;
    height: 44.35px;
    color: #222E4A;
    
    background: #F6EEE5;
    box-shadow: 0px 3.15055px 3.15055px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    
    flex: none;
    order: 2;
    flex-grow: 0;

}

.button:hover {
    background: #222E4A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30.53px;
    color: #F6EEE5;

}

.button:active {
    background: #F2B872;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30.53px;

}

.project1 img {
    position: absolute;
    justify-content: right;
    width: 497px;
    height: 525.6px;
    left: 497px;
    top: 20.5px; 

}

.project2 img {
    position: absolute;
    justify-content: right;
    width: 497px;
    height: 526px;
    left: 497px;
    top: 626px; 

}

.project3 img {
    position: absolute;
    justify-content: right;
    width: 497px;
    height: 526px;
    left: 497px;
    top: 1233px; 

}


/* about me */
.flexContainer {
    position: relative;
    display: flex;
    background-image: url(../images/BG-Hmong.png);
    background-repeat: repeat;
    width: 100%;
    margin-left: -10px;
    height:2200px; 
    top: -90px;
    overflow: hidden;

}

.headerBckgnd {
    position: absolute;
    display: flex;
    width: 100px;
    height: 102px;
    left: 300px;
    top: 80px;
    justify-content: center;
    text-align: center;
    
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
    transform: rotate(2.5deg);
}

.sectionLabel {
    position: absolute;
    width: 306px;
    height: 102px;
    left: -100px;
    top: -140px;
    

    font-family: 'Cheddar Jack';
    font-style: normal;
    font-weight: 400;
    font-size: 136px;
    line-height: 136px;

    color: #222E4A;

    text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.25);
}

.rightMe img{
    position: absolute;
    width: 436.06px;
    height: 492.12px;
    left: 1116.64px;
    top: 200px;

    background: url("about me photo.png");
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.5);
    transform: rotate(6.84deg);
}

.ivryBox img {
    display: flex;
    width: 858px;
    height: 380px;
    margin-left: 120px;
    margin-top: 234px;
    

    filter: drop-shadow(4.00935px 4.00935px 4.00935px rgba(0, 0, 0, 0.5));
}

.Intro {
    position: absolute;
    display: flex;
    width: 650px;
    height: 340px;
    left: 235px;
    top: 280px;


    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;

    color: #222E4A;
}

/* skills */

.headerBckgnd2 {
    position: absolute;
    display: flex;
    width: 100px;
    height: 102px;
    left: 300px;
    top: 850px;
    justify-content: center;
    text-align: center;
    
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
    transform: rotate(2.5deg);
}

.sectionLabel2 {
    position: absolute;
    width: 306px;
    height: 102px;
    left: -100px;
    top: -130px;
    

    font-family: 'Cheddar Jack';
    font-style: normal;
    font-weight: 400;
    font-size: 136px;
    line-height: 136px;

    color: #222E4A;

    text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.25);
}

/* tech skills */
.pkBox {
    position: absolute;
    display: flex;
    width: 100px;
    height: 90px;
    left: 400px;
    top: 1000px;
    justify-content: center;
    text-align: center;
    
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
    transform: rotate(2.5deg);
}

.sectionLabel3 {
    position: absolute;
    width: 323px;
    height: 76px;
    left: 290px;
    top: 960px;
    
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 76px;
    
    color: #222E4A;
}

.row {
    display: flex;
    position: absolute;
    top: 1000px;
    left: 227px;
  }
  
  .column {
    flex: 20%;
  }
  
  .alternate {
    position: absolute;
	list-style:none;
	outline:none;
    display:flex;
	font-weight: 400;
	width: 50px;
    left: 200px;
    top: 1100px;

}

li {
    flex-grow:1;
    flex-basis:0;
    margin-right: -275px;
   

}
    
    
 li img {
        width: 200px;
       
       
        }
li p {
        top: -25px;
        left: -170px;
        }

/* programs */
.gdBox {
            position: absolute;
            display: flex;
            width: 100px;
            height: 90px;
            left: 400px;
            top: 1400px;
            justify-content: center;
        
            
            filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
            transform: rotate(2.5deg);
        }
 .sectionLabel4 {
            position: absolute;
            width: 323px;
            height: 76px;
            left: 290px;
            top: 1360px;
            
            font-family: 'Caveat Brush';
            font-style: normal;
            font-weight: 400;
            font-size: 60px;
            line-height: 76px;
            text-align: center;
            
            color: #222E4A;
        }
 .ivryBox2 img {
    position: absolute;
            display: flex;
            width: 515px;
            height: 380px;
            top: 1500px;
            left: 200px;
            filter: drop-shadow(4.00935px 4.00935px 4.00935px rgba(0, 0, 0, 0.5));
        }
.Programs {
            position: absolute;
            list-style:none;
            outline:none;
            display:flex;
            font-weight: 400;
            width: 50px;
            left: 200px;
            top: 1100px;
        
        }
    
            
            
.Programs img {
    top: 450px;
    left: 250px;
    width:170px;
    height: 276px;
               
               
                }
.Programs p {
                top: 415px;
                left: 80px;
                text-align: left;
                line-height:60px;
                font-size: 24px;

                }

/* soft skills */              
.dpBox img {
 position: absolute;
display: flex;
 width: 450px;
 height: 90px;
 left: 1000px;
top: 1400px;
filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
transform: rotate(2.5deg);

}

.sectionLabel5 {
     position: absolute;
    width: 323px;
     height: 76px;
     top: 1360px;
    font-family: 'Caveat Brush';
     font-style: normal;
      font-weight: 400;
     font-size: 60px;
     line-height: 76px;
     right: 275px;
                    
     color: #222E4A;
}
        
.ivryBox3 img {
            position: absolute;
            display: flex;
             width: 515px;
           height: 380px;
             top: 1500px;
            left: 1000px;
            filter: drop-shadow(4.00935px 4.00935px 4.00935px rgba(0, 0, 0, 0.5));
 }
       
 .softSk {
    position: relative;
    top: 1525px;
    left: 80px;
    text-align: left;
    line-height:25px;
   font-size: 24px;
                
  }

/* project page */
.headerBckgnd2 {
    top: 150px;
    justify-content: center;
}

.sectionLabel6 {
    position: absolute;
    width: 306px;
    height: 102px;
    left: -100px;
    top: -140px;
    

    font-family: 'Cheddar Jack';
    font-style: normal;
    font-weight: 400;
    font-size: 136px;
    line-height: 136px;

    color: #222E4A;

    text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.25);
} 
.c-media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "thumb content";
    grid-gap: 100px;
    background-image: url("../images/BG-Hmong.png");
    background-repeat: repeat;
    margin-left: -8px;
    margin-top: -85px;
    
  }
  
  .c-media.flipped {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "content thumb";
    
  }
  .c-media__thumb {
    grid-area: thumb;
    display: grid;
    width: 294px;
    margin-top: 100px;
    right: 10px;
  }
  
  .c-media__Project1 {
    grid-area: content;
    display: grid;
   
  }



.ivryBox4 img {
    display: flex;
    width: 904px;
    height: 447px;
    margin-left: 120px;
    margin-top: 150px;
    
    filter: drop-shadow(4.00935px 4.00935px 4.00935px rgba(0, 0, 0, 0.5));
}

.recap {
    position: absolute;
    top: 380px;
    left: 250px;
}

.recap2 {
    position: absolute;
    top: 380px;
    left: 700px;
}
/* project problem */
.c-media.nf {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "thumb content";
    margin-top: 0px;
    
}

.c-media.nf img {
    grid-area: thumb;
    height: 619px;
    margin-left: 100px;
}

.c-media__Project2 {
    grid-area: thumb;
margin-left: 100px;
margin-top: 400px;
  }

.c-media__content{
    grid-area: content;
    display: grid;
    width: 294px;
  margin-top: 100px;
  right: 10px;
    
} 

  .headerBckgnd3 {
    position: absolute;
    top: 800px;
    left: -1200px;
    height: 68px;
    width: 500px;
   filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
   transform: rotate(2.5deg);
}


.sectionLabel7 {
    position: absolute;
    width: 400px;
     height: 76px;
     top: 770px;
    font-family: 'Caveat Brush';
     font-style: normal;
      font-weight: 400;
     font-size: 50px;
     line-height: 63px;
    
     color: #222E4A;

}

.ivryBox5 img {
    grid-area: content;
    display: grid;
    width: 904px;
    height: 447px;
    right: 0px;
 top: 150px;
    
    filter: drop-shadow(4.00935px 4.00935px 4.00935px rgba(0, 0, 0, 0.5));
}
/* footer*/

footer {
    width: 100%;
    height: 385px;   
    background: #CDA5AD;
    text-align: center; 
    overflow: hidden;
    margin-top: -90px;
    margin-left: -10px;
    margin-bottom: -10px;
   
    
}

.footerConnect img{
    position: relative;
    left: 80px;
    top: 24px;
}
 
.footerLinks img {
    position: relative;
    float: left;
    padding: 5px;
    top: 14px;
    left: 830px;
}


/* Copyright © 2023 phdesigns. All Rights Reserved. */

p {
    position: relative;
    width: 553px;
    height: 30px;
    left: 450px;
    top: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #222E4A;

}

